@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<br />
linq
<br />
https://github.com/StackExchange/Dapper
<br />
http://www.taeyo.net/Forum/Content.aspx?TBL=ASPNET&SEQ=34505
<br />
http://thankee.tistory.com/91
<br />
https://aspdotnet.tistory.com/1396
<br />
google : jqwidgets asp.net core sourceTotalRecords
<br />
https://www.jqwidgets.com/jquery-widgets-documentation/documentation/asp-net-core/mvc-tag-helpers.htm
<br />
https://www.jqwidgets.com/asp.net-core-mvc-tag-helpers-documentation/documentation/jqxgrid/asp-net-core-tag-helper-grid-api.htm?search=
<br />
https://www.jqwidgets.com/community/topic/asp-net-core-2-1-mvc-application/
<br />
https://www.jqwidgets.com/asp.net-core-mvc-tag-helpers/asp.net-core-mvc-bargauge-tag-helper/index.htm#https://aspcore.jqwidgets.com/mvc/TagHelpers/BarGauge
<br />
https://www.jqwidgets.com/asp.net-core-mvc-tag-helpers/asp.net-core-mvc-grid-tag-helper/index.htm#https://aspcore.jqwidgets.com/mvc/TagHelpers/Grid
<br />
google : jqwidgets .net core datafield-for
<br />
https://www.jqwidgets.com/asp.net-core-mvc-tag-helpers-documentation/documentation/jqxgrid/asp-net-core-tag-helper-grid-getting-started.htm
<br />
https://www.jqwidgets.com/community/topic/using-asp-net-core-web-api/
<br />
https://www.jqwidgets.com/jquery-widgets-documentation/documentation/asp-net-core/mvc-tag-helpers.htm
<br />
https://www.jqwidgets.com/community/topic/asp-net-core-tag-helper-jqxgrid/
<br />
https://www.jqwidgets.com/community/topic/asp-net-core-mvc-jqxtreegrid-tag-helper/
<br />
google : jqwidgets asp.net core
<br />
https://github.com/jqwidgets/Grid.AspNetCore.Mvc/blob/master/Views/TagHelpers/Grid/Grid.cshtml
<br />
https://github.com/jqwidgets/Grid.AspNetCore.Mvc/blob/master/Controllers/TagHelpersController.cs
<br />
https://www.jqwidgets.com/jquery-widgets-documentation/documentation/asp.net-integration/asp.net-mvc5.htm?search=
<br />
https://www.jqwidgets.com/jquery-widgets-documentation/documentation/asp.net-integration/asp.net-binding-to-sql-database-mvc4.htm
<br />
google : jqx grid documentation
<br />
https://www.jqwidgets.com/jquery-widgets-documentation/documentation/jqxgrid/jquery-grid-getting-started.htm
<br />
https://www.jqwidgets.com/jquery-widgets-demo/demos/jqxgrid/index.htm
<br />
-- 2018.11.19 Menu ManageMent
<br />
https://www.danylkoweb.com/Blog/building-a-menu-system-in-aspnet-mvc-CX
<br />
https://www.c-sharpcorner.com/article/dynamic-menu-bind-depends-on-user-role-in-asp-mvc/
<br />
https://www.codeproject.com/Articles/1237650/ASP-NET-Core-User-Role-Base-Dynamic-Menu-Managemen
<br />
https://code.msdn.microsoft.com/ASPNET-Core-20-User-Role-a2c5329a/sourcecode?fileId=197548&pathId=631418202
<br />
javascript : https://itnext.io/effective-function-parameters-in-javascript-1c4f2f4602ee
<br />
https://medium.com/ 골뱅이 kevincennis/object-object-things-you-didn-t-know-about-valueof-38f2a88dfb33
<br />
-- 2018.11.21 jQwidget jqx grid buttonclick
<br />
google : jqx grid buttonclick function site:www.jqwidgets.com
https://www.jqwidgets.com/community/topic/load-jqxgrid-on-button-click/
<br />
https://www.jqwidgets.com/jquery-widgets-demo/demos/jqxgrid/masterdetails.htm?classic
<br />
https://www.jqwidgets.com/community/topic/jqxgrid-mastergrid-perform-using-button-click-on-each-row/
<br />
https://www.jqwidgets.com/community/topic/grid-custom-button-actions/
<br />
https://www.jqwidgets.com/community/topic/move-away-from-cell-on-button-click/
<br />
https://www.jqwidgets.com/jquery-widgets-demo/demos/jqxangular/angularjs-datatable-custom-cell-template.htm?arctic
<br />
https://www.jqwidgets.com/community/topic/how-to-insert-2-button-in-1-cell-jqxgrid/
<br />
https://www.jqwidgets.com/community/topic/opening-a-new-view-from-jqxgrid-edit-button/
<br />
https://www.jqwidgets.com/community/topic/how-can-i-add-a-delete-column-to-a-jqxgrid/
<br />
https://www.jqwidgets.com/jquery-widgets-demo/mobiledemos/jqxgrid/editing.htm
<br />
https://www.jqwidgets.com/community/topic/disablehide-a-button-from-column/
<br />
https://www.jqwidgets.com/community/topic/deleting-a-row-when-clicking-on-a-cell-in-jqxgrid/
<br />
https://www.jqwidgets.com/community/topic/togglebutton-in-jqxgrid/
<br />
https://www.jqwidgets.com/community/topic/size-button-in-grid/
<br />