@model IEnumerable<PARK.APP.FIRST.Areas.SystemManage.Models.Menu.TMenu>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, jQWidgets.AspNetCore.Mvc.TagHelpers
@addTagHelper *, jQWidgets.AspNetCore.Mvc.Bootstrap.TagHelpers
@{
    ViewData["Title"] = "Index";
    ViewData["Theme"] = "Dark Blue";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<KeyValuePair<string, object>> settings = new List<KeyValuePair<string, object>>()
    {
        new KeyValuePair<string, object>("position", "mouse"),
        new KeyValuePair<string, object>("content", "Tooltip"),
        new KeyValuePair<string, object>("selector", "tooltip"),
        new KeyValuePair<string, object>("theme", ViewData["Theme"])
    };
}
@section scripts {
    <script type="text/javascript">
        $("#grid1").click(function (event) {
            alert("!!!"); // true
        });
    </script>
}


<p>Click !</p>
<div id="grid1" style="background-color:red;height:60px;width:60px;"></div>


<h2>Index</h2>

@{
    var employee = Model.FirstOrDefault();
}


<jqx-calendar theme="@ViewData["Theme"]" width="200" height="200"></jqx-calendar>
<div id="grid"></div>
<div style="display:none">@*display:none <- Must be required!*@
    <jqx-grid id="grid" alt-rows="true" show-status-bar="true" show-aggregates="false" filterable="true" pageable="true" auto-height="false" source-id="MenuSeq" sortable="true" height="650" width="850" source="Model">
        <jqx-grid-columns>
            <jqx-grid-column column-group="name1" datafield-for="@(employee.MenuName)" width="150" text="MenuName"></jqx-grid-column>
            <jqx-grid-column column-group="name1" datafield-for="@(employee.ImagePath)" width="150" text="MenuName"></jqx-grid-column>
            <jqx-grid-column datafield-for="@(employee.UpperMenuSeq)" width="150" text="MenuName"></jqx-grid-column>
        </jqx-grid-columns>
        <jqx-grid-column-groups>
            <jqx-grid-column-group name="name1" text="group1"></jqx-grid-column-group>
        </jqx-grid-column-groups>
    </jqx-grid>
</div>

Move cursor here to see the <span id="tooltip">tooltip</span>
<jqx-tool-tip settings="settings">sddf</jqx-tool-tip>