@{
    ViewBag.Title = "404";
}

<h1>404 - Page not found</h1>

<p>Seems like you've stepped into a wrong portal.</p>

<pre><code>a asp-area="" asp-controller="Home" asp-action="NotMatch">NotMatch a</code></pre>

